<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="addproduct.css">
</head>



<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-nav-ul">
                <li class="header-nav-ul-li"><a href="/">Shop</a></li>
                <li class="header-nav-ul-li"><a class="active" href="/Add-Product">Add Product</a></li>
                <li class="header-nav-ul-li"><a  href="/contactus">Contact us</a></li>
                
            </ul>
        </nav>
    </header>


    <main>
        <form class="product-form" action="/product" method="POST">
            <div class="form-control">
                <label for="title">Your Product</label>
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">ADD PRODUCT</button>
        </form>
    </main>

</body>

</html>