.contact-form{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: beige;
}
.form-control-1 input,
.form-control-1 label{
    display: block;
    margin-right: 1rem;
}


.form-control-2 input,
.form-control-2 label{
    display: block;
}

button {
    border: 1px solid lightcoral;
    border-radius: 3px;
    color: brown;
    cursor: pointer;
    height: 1rem;
    margin: 1.3rem;
}

button:hover,
button:active {
    background-color: brown;
    color: bisque;
}